@model JO2024andyrtv.Models.Offre

@{
    ViewData["Title"] = "Supprimer l'offre";
}
<div class="container">
<h1>Supprimer l'offre</h1>

<h3>Êtes-vous sûr de vouloir supprimer cette offre ?</h3>
<div>
    <h4>Offre</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pourcentage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pourcentage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NbPersonne)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NbPersonne)
        </dd>
    </dl>

    <form asp-action="DeleteOffer">
        <input type="hidden" asp-for="Id_Offre" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-action="AdminDashboard">Annuler</a>
    </form>
</div>
</div>